- title "Ingreso de Cliente"

- form_for @cliente, :html => { :multipart => true } do |f|
  = render 'form', :f => f, :form_disabled => false
  .actions{:align => "center"}
    = f.submit 'Ingresar Cliente'
