- title "Modificación de Cotización "

- form_for @cotizacione, :html => { :multipart => true } do |f|
  = render 'form', :f => f, :form_disabled => false
  .actions{:align => "center"}
    = f.submit 'Modificar Cotización'
