- title "Cotización "
%h2 Cotización Nº #{@cotizacione.id.to_s} 

= form_for @cotizacione, :builder => DisabledFormBuilder do |f|
  = render 'form', :f => f, :form_disabled => true


= link_button 'Imprimir Cotización',  :show_pdf , :format => :pdf