<div><img src="http://www.luis-ramirez.cl/newmodels/logo.jpg" width="100" height="98" /></div>
<p> Estimados: </p>
<p />	
<p> Se ha eliminado el modelo <%=@modelo.nombres%>&nbsp<%=@modelo.apellidos%></p>

<p> Por el usuario <%=@usuario%> </p>

	
<p>Saludos,</p>
<p>Sistema New Models Agency </p>