<div><img src="logo.jpg" width="100" height="98" /></div>

	 <p> Adjunto encontrará el detalle de las Competencias</p>
	 <p> Puede imprimir el informe desde la siguiente URL </p>
  	<%= @root_url %><%= informe_comercial_path(@competencia, :format => :pdf) %></a>
	


  