<div><img src="http://www.luis-ramirez.cl/newmodels/logo.jpg" width="100" height="98" /></div>
<p> Estimados: </p>
<p />	
<p> Adjunto encontrará el detalle del Trabajo Nª <%=@competencia.id%></p>

<p> Puede imprimir el informe desde la siguiente URL </p>
<%= @root_url %><%= informe_comercial_path(@competencia, :format => :pdf) %></a>
	
<p>Saludos,</p>
<p>Sistema New Models Agency </p>


  