- title "MODIFICAR INFORME DE TRABAJO"

= form_for @competencia, :html => { :multipart => true } do |f|
  = render 'form', :f => f, :form_disabled => false
  .actions{:align => "center"}
    = f.submit 'Modificar Competencia'