.fields
  = f.hidden_field :_destroy 
  %table.sglea.noborder
    %tr
      %td.tit Nombre
      %td.inp= f.text_field :nombre, :onblur => "upperCase(this)"
      %td.inp= link_to_remove_fields "Eliminar", f if not form_disabled