- title "Modificación Modelo"

= form_for @modelo, :html => { :multipart => true } do |f|
  = render 'form', :f => f, :form_disabled => false
  .actions{:align => "center"}
    = f.submit 'Modificar Modelo'
%br
%br
%br
%br